
#contact-banner {
    background-image: url(/images/contact/background-contact.webp);
}


.contact-info {
  display: grid;
  grid-template-columns: repeat(2, minmax(350px, 1fr)); 
  gap: 40px;
  padding: 0px 20px;
  justify-items: center;
  align-items: stretch;
  margin-bottom: 70px;
  text-align: center;
  max-width: 800px; 
  margin-left: auto;
  margin-right: auto;
}

.contact-box {
  width: 100%;
  max-width: 350px;
  min-width: 200px;
  background: #f5f5f5;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.contact-box:nth-child(3) {
  grid-column: 1 / -1; /* La 3e boxe prend toute la largeur */
  margin: 0 auto;
}


.contact-box .icon {
    font-size: 30px;
    margin-bottom: 10px;
}

.contact-box a {
    color: blue;
    font-weight: bold;
}

.contact-box a:hover {
    transform: translateY(-5px);
    transition: transform 0.3s ease-in-out;
}