
#anchor-portrait, #anchor-event, #anchor-trip, #anchor-editorial {
    scroll-margin-top: 100px; /* pour tomber directement sur le titre concerné */
    padding: 0px 10px;
}

.portfolio-total {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 40px;
}

.portfolio-container {
    display: grid;
    width: 100%;
    height: auto;
    grid-template-columns: repeat(2,500px);
    justify-content: center;
    text-align: left;
    gap: 40px;
    margin-bottom: 80px;
}

.video-container video,
.portfolio-container img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.portfolio-container h3 {
    margin: 5px 0;
}

.portfolio-container p {
    text-align: justify;
    margin-top: 0px;
}




/* Partie video */

.video-frame {
    position: relative;
    width: 100%;
    height: 350px;
    overflow: hidden;
}

.video-frame video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.video-frame .play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
    border: none;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.6);
    cursor: pointer;
    z-index: 2;
}

.video-frame .play-button::before {
    content: '▶';
    font-size: 40px;
    color: white;
}
